
body {
    color: #1e022b;
    /* font-weight: bold; */
    /* font-family: 'Cormorant Garamond', serif; */
    font-family: 'Pacifico', cursive;
    /* height: 100%; */
    background-image: url(images/twinsfisch-8bqHLkhArtc-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* nav{
    padding: 5px;
    margin-bottom: 10%;
    float: right;
    display: block
    background-color: ;
} */

nav li{
    display: inline;
    font-weight: normal;
     text-transform: uppercase;
    margin-right: 30px;
    
}

nav a {
    text-decoration: none;
    color: inherit;
    
    float: right;
    padding: 5px;
    margin-left: 30px;
}

nav a:hover, footer a:hover {
    background-color: rgb(197, 169, 176);
    box-shadow: -10px 10px rgb(88, 27, 2);
    font-family: 'Permanent Marker', cursive;
}




.imgSize {
    padding: 2px;
    border: 2px outset;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px rgb(88, 27, 2);


}

footer {
    position: absolute;
    bottom: 0px;
    top: 261%;
    /* margin: 0px; */
    padding: 10px;
    /* margin: 10px; */
    /* border: 5px solid ; */
    width: 100%;
    text-align: center;
}

footer li {
    text-decoration: none;
    display: inline;
    padding: 5px;
    margin-right: 50px;
    

}

footer ul {
    margin-right: 15px;
}

footer a {
    color: inherit;
    padding: 5px;
}
/* Center text for main.html */
.centerText{
    text-align: center;
    margin-bottom: 40px;
}
/* Animation for pictures */
.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  